*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 940px;
    margin: 0 auto;
}
/* header part start  */
#header{
    padding: 10px 0;
    background-color: #0872b9;
}
.main_header{
    display: flex;
    justify-content: space-between;
}
.head_icon i{
    padding: 0 5px;
}
/* header part end  */
/* nav part start  */
.nav_bg{
    padding: 30px 0;
}
.nav_main{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
}
/* nav part end  */
#banner{
    background: url(../images/banner.jpg) no-repeat center / cover;
    padding: 90px 0;
}
.banner_text{
    text-align: right;
}
.banner_text p{
    width: 454px;
    margin-left: auto;
}